Source: brief
Section: misc
Priority: optional
Maintainer: joe <d.jonathanpaul@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: brief
Architecture: all
Depends: ${misc:Depends}
Description: Simplified man pages
